.dnnForm.dnnShortForm .dnnFormItem label {
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 0.25em;
    }

    .dnnForm.dnnShortForm .dnnFormItem input, .dnnForm.dnnShortForm .dnnFormItem select, .dnnForm.dnnShortForm .dnnFormItem textarea {
        float: none;
        text-align: left;
    }

    .dnnForm.dnnShortForm .dnnFormItem a.dnnFormHelp {
        background-position: left;
        padding-left: 22px;
    }

    a.dnnFormHelp, .dnnForm .dnnFormItem a.dnnFormHelp, .dnnTooltip label a.dnnFormHelp {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        background: url(../../images/help-icn.png) no-repeat right;
        display: block;
        position: relative;
        z-index: 2;
    }

        .dnnForm .dnnFormItem a.dnnFormHelp span {
            padding-right: 1.8em;
            display: block;
        }

        .dnnForm .dnnFormItem a.dnnFormHelp img {
            display: none;
        }

    *:first-child + html .dnnFormItem a.dnnFormHelp {
        position: static;
    }

    .dnnTooltip {
        position: relative;
    }

    td > .dnnTooltip {
        min-width: 120px;
    }

        td > .dnnTooltip label {
            text-align: right;
        }

            td > .dnnTooltip label a span {
                padding-right: 20px;
                display: block;
            }

    .dnnTooltip a.pinHelp {
        background: url(../../images/pin-icn-16x16.png) no-repeat left bottom;
        display: block;
        text-indent: -9991.2em;
        height: 16px;
        width: 16px;
        float: right;
        margin-top: 1em;
    }

    .dnnTooltip.dnnTooltipPinned a.pinHelp {
        background: url(../../images/pin-icn-16x16.png) no-repeat left top;
    }

    .dnnFormItem input.aspNetDisabled, .dnnFormItem textarea.aspNetDisabled {
        background: #ebebeb;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #a7a7a7;
        border-width: 1px;
    }

    .label_td {
        padding-left: 5px;
        font-family: Tahoma;
        font-size: 12px;
        padding-right: 5px;
        font-weight: bold;
        width: 100px;
        vertical-align:top;
    }

    .dnnFormMessage {
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 10px 10px 40px;
        line-height: 1.4;
        margin: 0.5em 1em;
    }

        .dnnFormMessage span {
            float: none;
            padding: 0;
            width: 100%;
            text-align: left;
            text-shadow: 0px 1px 1px #fff;
        }

    .dnnFormValidationSummary {
        background: #f7eaea url(../../images/error-icn.png) no-repeat 10px center;
        text-shadow: 0px 1px 1px #fff;
        color: #900;
        border: 2px #df4a40 solid;
    }

    .groupBox {
        /*margin: 5px 0px;*/
        border: solid 1px #7EACB1;
        width: 95%;
        background-color: #F3F4F5;
        font-size:12px;
        font-family:Tahoma;
    }

        .groupBox legend {
            margin-left: 20px;
            border-color: #7EACB1;
        }

        .groupBox .fileContainer {
            /*height: 150px;*/
            /*padding: 5px 10px;*/
            overflow: auto;
        }

    a {
        text-decoration: none;
    }



        .aspNetDisabled, a.aspNetDisabled, .dnnDisabled, a.dnnDisabled {
            color: #ccc;
            cursor: not-allowed;
            text-decoration: none;
        }

    .dnnFormMessage {
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 10px 10px 40px;
        line-height: 1.4;
        margin: 0.5em 1em;
    }

        .dnnFormMessage span {
            float: none;
            padding: 0;
            width: 100%;
            text-align: left;
            text-shadow: 0px 1px 1px #fff;
        }

    .dnnFormWarning {
        background: #feffce url(../../images/warning-icn.png) no-repeat 10px center;
        border: 2px #cdb21f solid;
        color: #41370C;
        text-shadow: 0px 1px 1px #fff;
    }

    .dnnFormValidationSummary {
        background: #f7eaea url(../../images/error-icn.png) no-repeat 10px center;
        text-shadow: 0px 1px 1px #fff;
        color: #900;
        border: 2px #df4a40 solid;
    }

    .dnnFormError {
        color: #fff !important;
        background: url(../../images/errorbg.gif) no-repeat left center;
        text-shadow: 0px 1px 1px #000;
        padding: 5px 20px;
    }

    .dnnFormItem span.dnnFormMessage.dnnFormError {
        position: absolute;
        left: 55%;
        top: 0;
        z-index: 9999;
    }

    .dnnFormSuccess {
        background: #ecffeb url(../../images/success-icn.png) no-repeat 10px center;
        border: 2px #64b657 solid;
        color: #358927;
    }

    .dnnFormInfo {
        background: #edf8ff url(../../images/help-icn.png) no-repeat 10px center;
        border: #46a3d3 2px solid;
        color: #085b8f;
        text-shadow: 0px 1px 1px #fff;
    }

    .dnnFormHelpContent, .dnnFormItem label .dnnFormHelpContent {
        border: #46a3d3 2px solid;
        color: #085b8f;
        background: #edf8ff url(../../images/help-icn.png) no-repeat 10px 10px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-shadow: 0px 1px 1px #fff;
        font-weight: normal;
        max-width: 30em;
        padding: 0.8em 1em 0.8em 3em;
    }

    .dnnFormHelpContent, .dnnFormItem .dnnFormHelpContent {
        left: 95%;
        max-width: 30em;
        position: absolute;
        z-index: 25;
        width: 275px;
        overflow: hidden;
        top: 0;
    }

        .dnnFormHelpContent.ui-draggable {
            cursor: move;
        }

        .dnnFormHelpContent.dnnClear, .dnnFormItem label.dnnFormLabel .dnnFormHelpContent.dnnClear, .dnnFormItem label .dnnFormHelpContent.dnnClear {
            line-height: 1.4;
            text-align: left;
        }

    .dnnForm .dnnFormItem.dnnFormHelp, .dnnFormItem.dnnFormHelp {
        clear: both;
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

        .dnnFormItem.dnnFormHelp p.dnnFormRequired {
            float: right;
            margin: 0;
            padding: 0;
        }

            .dnnFormItem.dnnFormHelp p.dnnFormRequired span {
                border-left: 5px #F00 solid;
                padding-left: 0.5em;
            }

    .dnnLeft {
        float: left;
    }

    .dnnRight {
        float: right;
    }

    .dnnClear:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }

    * + html .dnnClear {
        min-height: 1%;
    }